blockquote {
    margin: 0;
    padding: 15px;
    background-color: #000000;
    border-left: 10px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote em {
    font-style: italic;
}

.social-sharing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 20px;
}